.quiqqer-payment-paypal,
.quiqqer-payment-paypal-content {
    float: left;
    width: 100%;
}

.quiqqer-payment-paypal-content paypal-button {
    display: block;
    margin: 35px 0 0 0;
    max-width: 100%;
    text-align: center;
    width: 100%;
}

.quiqqer-payment-paypal-content paypal-button[hidden] {
    display: none;
}

.quiqqer-payment-paypal__hidden {
    display: none !important;
}
