.quiqqer-payment-paypal-content {
    float: left;
    min-height: 250px;
    width: 100%;
}

#quiqqer-payment-paypal-btn-pay {
    margin: 35px 0 0 0;
    max-width: 100%;
    text-align: center;
}

.quiqqer-payment-paypal__hidden {
    display: none !important;
}