<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>

            <section name="api">
                <conf name="client_id">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="client_secret">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="sandbox_client_id">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="sandbox_client_secret">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="sandbox">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
            </section>

            <section name="payment">
                <conf name="display_paypal_basket">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="display_express_basket">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="display_express_smallbasket">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="display_express_product">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="instant_purchase">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
            </section>

            <section name="widgets">
                <conf name="btn_color">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[gold]]></defaultvalue>
                </conf>
                <conf name="btn_size">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[large]]></defaultvalue>
                </conf>
                <conf name="btn_shape">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[rect]]></defaultvalue>
                </conf>
                <conf name="btn_express_color">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[gold]]></defaultvalue>
                </conf>
                <conf name="btn_express_size">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[medium]]></defaultvalue>
                </conf>
                <conf name="btn_express_shape">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[rect]]></defaultvalue>
                </conf>
                <conf name="btn_express_size_smallbasket">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[small]]></defaultvalue>
                </conf>
            </section>

        </config>

        <window>
            <title>
                <locale group="quiqqer/payment-paypal" var="settings.menu.title"/>
            </title>

            <params>
                <icon>fa fa-paypal</icon>
            </params>

            <categories>
                <category name="api">
                    <icon>fa fa-cogs</icon>
                    <title>
                        <locale group="quiqqer/payment-paypal" var="settings.category.api.title"/>
                    </title>
                    <settings title="api" name="api">
                        <title>
                            <locale group="quiqqer/payment-paypal" var="settings.api.title"/>
                        </title>

                        <input conf="api.client_id" type="text">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.api.client_id.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paypal" var="settings.api.client_id.description"/>
                            </description>
                        </input>

                        <input conf="api.client_secret" type="text">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.api.client_secret.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paypal" var="settings.api.client_secret.description"/>
                            </description>
                        </input>

                        <input conf="api.sandbox_client_id" type="text">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.api.sandbox_client_id.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paypal" var="settings.api.sandbox_client_id.description"/>
                            </description>
                        </input>

                        <input conf="api.sandbox_client_secret" type="text">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.api.sandbox_client_secret.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paypal" var="settings.api.sandbox_client_secret.description"/>
                            </description>
                        </input>

                        <input conf="api.sandbox" type="checkbox">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.api.sandbox.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paypal" var="settings.api.sandbox.description"/>
                            </description>
                        </input>

                    </settings>
                </category>

                <category name="payment">
                    <icon>fa fa-credit-card</icon>
                    <title>
                        <locale group="quiqqer/payment-paypal" var="settings.category.payment.title"/>
                    </title>
                    <settings title="payment" name="payment">
                        <title>
                            <locale group="quiqqer/payment-paypal" var="settings.payment.title"/>
                        </title>

                        <input conf="payment.display_paypal_basket" type="checkbox">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.payment.display_paypal_basket.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paypal" var="settings.payment.display_paypal_basket.description"/>
                            </description>
                        </input>

                        <input conf="payment.display_express_basket" type="checkbox">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.payment.display_express_basket.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paypal" var="settings.payment.display_express_basket.description"/>
                            </description>
                        </input>

                        <input conf="payment.display_express_smallbasket" type="checkbox">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.payment.display_express_smallbasket.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paypal" var="settings.payment.display_express_smallbasket.description"/>
                            </description>
                        </input>

                        <input conf="payment.instant_purchase" type="checkbox">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.payment.instant_purchase.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paypal" var="settings.payment.instant_purchase.description"/>
                            </description>
                        </input>

                        <!-- Temporarily disabled until product express checkout is implemented -->
                        <!--<input conf="payment.display_express_product" type="checkbox">-->
                            <!--<text>-->
                                <!--<locale group="quiqqer/payment-paypal" var="settings.payment.display_express_product.title"/>-->
                            <!--</text>-->
                            <!--<description>-->
                                <!--<locale group="quiqqer/payment-paypal" var="settings.payment.display_express_product.description"/>-->
                            <!--</description>-->
                        <!--</input>-->

                    </settings>

                    <settings title="widgets" name="widgets">
                        <title>
                            <locale group="quiqqer/payment-paypal" var="settings.widgets.title"/>
                        </title>

                        <select conf="widgets.btn_color">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_color.title"/>
                            </text>
                            <option value="gold">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_color.options.gold"/>
                            </option>
                            <option value="blue">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_color.options.blue"/>
                            </option>
                            <option value="silver">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_color.options.silver"/>
                            </option>
                            <option value="black">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_color.options.black"/>
                            </option>
                        </select>

                        <select conf="widgets.btn_size">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_size.title"/>
                            </text>
                            <option value="small">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_size.options.small"/>
                            </option>
                            <option value="medium">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_size.options.medium"/>
                            </option>
                            <option value="large">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_size.options.large"/>
                            </option>
                            <option value="responsive">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_size.options.responsive"/>
                            </option>
                        </select>

                        <select conf="widgets.btn_shape">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_shape.title"/>
                            </text>
                            <option value="rect">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_shape.options.rect"/>
                            </option>
                            <option value="pill">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_shape.options.pill"/>
                            </option>
                        </select>

                        <select conf="widgets.btn_express_color">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_color.title"/>
                            </text>
                            <option value="gold">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_color.options.gold"/>
                            </option>
                            <option value="blue">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_color.options.blue"/>
                            </option>
                            <option value="silver">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_color.options.silver"/>
                            </option>
                            <option value="black">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_color.options.black"/>
                            </option>
                        </select>

                        <select conf="widgets.btn_express_size">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_size.title"/>
                            </text>
                            <option value="small">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_size.options.small"/>
                            </option>
                            <option value="medium">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_size.options.medium"/>
                            </option>
                            <option value="large">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_size.options.large"/>
                            </option>
                            <option value="responsive">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_size.options.responsive"/>
                            </option>
                        </select>

                        <select conf="widgets.btn_express_size_smallbasket">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_size_smallbasket.title"/>
                            </text>
                            <option value="small">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_size_smallbasket.options.small"/>
                            </option>
                            <option value="medium">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_size_smallbasket.options.medium"/>
                            </option>
                            <option value="large">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_size_smallbasket.options.large"/>
                            </option>
                            <option value="responsive">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_size_smallbasket.options.responsive"/>
                            </option>
                        </select>

                        <select conf="widgets.btn_express_shape">
                            <text>
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_shape.title"/>
                            </text>
                            <option value="rect">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_shape.options.rect"/>
                            </option>
                            <option value="pill">
                                <locale group="quiqqer/payment-paypal" var="settings.widgets.btn_express_shape.options.pill"/>
                            </option>
                        </select>

                    </settings>
                </category>

                <category name="billing_plans">
                    <icon>fa fa-paypal</icon>
                    <title>
                        <locale group="quiqqer/payment-paypal" var="settings.category.billing_plans.title"/>
                    </title>

                    <settings name="billing_plans" title="billing_plans">
                        <input type="hidden" data-qui="package/quiqqer/payment-paypal/bin/controls/backend/BillingPlans" label="false">
                        </input>
                    </settings>

                </category>

                <category name="billing_agreements">
                    <icon>fa fa-paypal</icon>
                    <title>
                        <locale group="quiqqer/payment-paypal" var="settings.category.billing_agreements.title"/>
                    </title>

                    <settings name="billing_agreements" title="billing_agreements">
                        <input type="hidden" data-qui="package/quiqqer/payment-paypal/bin/controls/backend/BillingAgreements" label="false">
                        </input>
                    </settings>

                </category>

            </categories>
        </window>

    </settings>
</quiqqer>