.quiqqer-payment-paypal-express {
    float: left;
    height: 60px;
    position: relative;
    width: 250px;
    z-index: 1;
}

.quiqqer-payment-paypal-express .qui-loader {
    z-index: 1000 !important;
}